.imgContainer{
    height: 100px;
    width: 100px;
    object-fit: cover;
    opacity: .95;
    border-radius: 5px;
}
.headManager{
    background-color: rgb(99, 94, 94);
    color: white;
    font-size: 20px;
}
